<div class="container landing mt-4">
  <div class="landing-text">
    <h1 class="header-landing">Get to know <br>your crowd</h1>
    <h4>In just 3 simple steps</h4>
    <a class="btn-primary" href="/uikit">UI kit</a>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <%= link_to "Dashboard", my_dashboard_path, class: "nav-link" %>
  </div>
</div>

