<div class="container landing mt-4">
  <div class="landing-text">
    <h1 class="header-landing">Get to know <br>your crowd</h1>
    <h4>In just 3 simple steps</h4>
    <%= link_to "Login", new_user_session_path, class: "button-primary link" %>
    <%= link_to "Register", new_user_session_path, class: "button-secondary link" %>
  </div>
</div>
