<% if @my_hashtags.empty? %>
  <div class="alert-success d-flex align-items-center p-3 mb-4 rounded-2" role="alert">
  <i class="fas fa-info-circle pe-2"></i>
  <div>Measures happiness score among <strong>english-speaking</strong> audience for a specific <strong>hashtag</strong> in last 7 days.</div>
</div>
<% end %>
