<h5 class="saved">My hashtagss</h5>

      <% if @my_hashtags.present?%>
          <ul>
            <% @my_hashtags.each do |hashtag| %>
              <li>
                <% link_to hashtag.name %>
                <%= hashtag.name %>
                <%= hashtag.score %>
                <a data-confirm="Are you sure?" data-method="delete" href="hashtags/<%= hashtag.id %>">
                  <i class="fas fa-trash"></i>
                </a>
              </li>
            <% end %>
        <% else %>
          <div class="name-alert" role="alert">
            No saved hastags.
          </div>
          </ul>
      <% end %>
