<div class= "d-flex flex-column align-items-center">
    <h5 class="mt-5">Sorry, <%= current_user.name %>!</h5>
    <p class="mb-3">The hashtag is has no updates on Twitter.</p>
    <div class="noupdates" style="width: 320px; height: 320px;"></div>
</div>
