<div class= "d-flex flex-column align-items-center">
    <h5 class="mt-5">Sorry, <%= current_user.name %>!</h5>
    <p>The hashtag is not found on Twitter</p>
    <div class="notfound" style="width: 320px; height: 320px;"></div>
</div>
