.badge-green {
  background-color: $green;
  padding: 5px 7px;
  color: white;
  border-radius: $border-radius-dashboard;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  &:hover {
    color: white;
  }
}
