/* CSS */
.button-primary {
  appearance: button;
  background-color: $dark-blue;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: $light-blue 4px 4px 0 0,$green 4px 4px 0 1px;
  box-sizing: border-box;
  color: $light-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 5px 3px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.link {
  appearance: none !important;
}

.link-dashboard-secondary {
  appearance: none !important;
  box-shadow: white 4px 4px 0 0,$dark-blue 4px 4px 0 1px !important;
}

.link-dashboard-primary {
  appearance: none !important;
  box-shadow: white 4px 4px 0 0,$green 4px 4px 0 1px !important;
}

.button-primary:hover {
  text-decoration: none;
  color: white;
}

.button-secondary {
  appearance: button;
  background-color: $green;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: $light-blue 4px 4px 0 0,$dark-blue 4px 4px 0 1px;
  box-sizing: border-box;
  color: $light-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 5px 3px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-secondary:hover {
  text-decoration: none;
  color: white;
}


.button-red {
  appearance: button;
  background-color: white;
  background-image: none;
  border: 1px solid $lighter-gray;
  border-radius: 4px;
  box-shadow: $white 4px 4px 0 0,$lighter-gray 4px 4px 0 1px;
  box-sizing: border-box;
  color: rgb(219, 111, 111);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 5px 3px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-red:hover {
  text-decoration: none;
  color: rgb(77, 20, 20);
  box-shadow: white 4px 4px 0 0,$light-gray 4px 4px 0 1px
}

.link-dashboard-red {
  appearance: none !important;
  box-shadow: white 4px 4px 0 0,$lighter-gray 4px 4px 0 1px !important;
}
