.saved-hashtags-list {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 14px;
  border: 1px solid $green;
  border-radius: $border-radius-sm;
  margin-bottom: 12px;
  margin-top: 12px;
  box-shadow: $yellow 4px 4px 0 0, $yellow 4px 4px 0 1px;
  box-sizing: border-box;
}

.saved-hashtag-card {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: $green;
  padding: 12px 6px;
  border-bottom: 1px solid $lighter-gray;
  &:hover {
    color: $dark-blue;
  }
}

.saved-hashtag-card:last-child {
  border-bottom: none;
}

.saved-hashtag-card a {
  font-size: 16px;
  color: $green;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.last-searched-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  background-color: white;
  border-radius: $border-radius-sm;
  border: 1px solid $lighter-gray;
  margin-bottom: 20px;
  margin-left: -32px;
  box-shadow: $light-blue 4px 4px 0 0;
}

.last-searched-card:first-child {
  margin-top: 20px;
}

.last-searched-card:last-child {
  margin-bottom: 0;
}

.last-searched-score {
  margin-left: 8px;
  margin-right: 12px;
  margin-bottom: 0rem;
  color: $gray;
}

.last-searched-initial {
  background-color: $green;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: $border-radius-sm;
  margin-right: 12px;
  margin-bottom: auto;
}

.last-searched-card a {
  font-weight: 700;
  text-decoration: none;
  color: $dark-blue;
}

#hashtagscore {
  // margin: 20px;
  width: 60px;
  height: 60px;
  position: relative;
}

.show-card-left {
  border-right: 1px solid $lighter-gray;
}

.show-hashtag-name {
  color: $dark-blue;
}
