.saved-hashtags-list {
  list-style: none;
}

.saved-hashtag-card {
  font-size: 14px;
  font-weight: 700;
  margin-left: -32px;
  padding: 6px 14px;
  border: 1px solid $green;
  border-radius: $border-radius-sm;
  margin-bottom: 12px;
  box-shadow: $yellow 4px 4px 0 0, $yellow 4px 4px 0 1px;
  box-sizing: border-box;
}
