#chartdiv {
  width: 100%;
  height: 400px;
}

.chart-container {
  width: 80px;
  height: 80px;
  position: relative;
}

.chart-big {
  height: 300px !important;
  width: 300px !important;
}

.chart-small {
  width: 100px;
}
