.dashboard {
  background: #ffffff;
  box-shadow: $light-blue 10px 10px 0 0,$green 10px 10px 0 2px;
  box-sizing: border-box;
  border-radius: $border-radius-dashboard;
  margin-bottom: 12px;
  height: 85vh;
  overflow: hidden;
}

.landing {
  background-image: url("landing.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 85vh;
}

.col-9 {
  padding: 30px;
  border-left: 1px solid $lighter-gray;
  background-color: rgb(252, 252, 252);
  height: 85vh;
  overflow: scroll;
}

.col-3 {
  padding: 30px;
  display: flex;
  flex-direction: column
}

.hashtag {
  color: $light-gray;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  &:hover {
    color: $black;
  }
}

.username {
  padding-bottom: 16px;
  border-bottom: 1px solid $lighter-gray;
}

.saved {
  padding-top: 16px;
  // border-top: 1px solid $lighter-gray;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landing-text {
  text-align: right;
}

.header-landing {
  font-size: 56px;
}

.align-left {
  text-align: left;
}
