.search-image{
  background-image: url("search.svg");
  background-size: 310px 310px;
//   background-repeat: no-repeat;
//   height: 320px;
}

.notfound{
  background-image: url("notfound.svg");
  background-size: 310px 310px;
}

.noupdates{
  background-image: url("noupdates.svg");
  background-size: 310px 310px;
}
